.height{
            height: 100%;
        }
        .pad
        {
            padding: 10px;
        }
        .imglogo1
        {
            height: 50px;
            width:50px;
            
        }
        .imglogo
        {
            height: 30px;
            width:50px;
            
        }
        .color{
            color: #222;

        }
        .box {
            font-family: Arial, 
            sans-serif;background-color: #F1F1F1;
            border:0;width:340px;
            webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
            margin: 0 auto 25px;
            text-align:center;
            padding:10px 0px;
        }
    .box img
    {
        padding: 10px 0px;
    }
    .box a{
        color: #427fed;cursor: pointer;text-decoration: none;
    }
    .heading {
        text-align:center;
        padding:10px;
        font-family: 'tahoma', arial;
        color: #555;
        font-size: 18px;
        font-weight: 400;
    }
    .circle-image{
        width:100px;
        height:100px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .welcome
    {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }
    .oauthemail
    {
        font-size: 14px;
    }
    .center{
        text-align: center;
    }
    .bot
    {
        margin-top: 10px;
        margin-bottom: 0px;
    }